{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 versions", "Safari >= 7", "ie >= 10"]
                },
                "loose": true
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread"
    ]
}
