.snap-chart {
    height: 300px;
    width: auto;
    max-width: none;
    position: relative;

    &__labels {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__label {
        font-size: 11px;
        text-align: center;
        color: #fff;
        font-family: 'Helvetica Neue';
        line-height: 22px;
        width: 40px;
    }

    &__markers {
        width: 100%;
        height: 0;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__marker {
        width: 40px;
    }
}

.snap-chart-marker {
    text-align: center;
    transition: all 300ms linear;

    &__inner {
        width: 40px;
        height: 40px;
        margin-top: -20px;

        border-radius: 50%;
        background: #8ebced;

        font-size: 11px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-family: 'Helvetica Neue';
        cursor: pointer;
        box-shadow: 0 0 0 0px #8ebced;
        transition: all 300ms;

        &:hover {
            background: #fd8b60;
            box-shadow: 0 0 0 5px #fd8b60;
        }
    }
}