@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
$font_main: 'Comfortaa', 'Source Sans Pro', sans-serif;

.app {
    background: #2359e5;
    padding: 20px 20px 0;
    font-family: $font_main;
}